.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-title{
  cursor: pointer;
  color: tomato;
}

.navbar > ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar > ul > a{
  color: #999999;
  text-decoration: none;
}

.navbar > ul > a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.active{
  color: #252323 !important;
}

.navbar-right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right > i{
  font-size: 25px;
  cursor: pointer;
}

.navbar-right > button{
  width: max(8vw,56px);
  height: 30px;
  text-wrap: none;
  border-radius: 15px;
  border: 0.2px solid black;
  transition: 0.3s all;
}
.navbar-right > button:hover{
  background-color: rgb(208, 202, 202);
  cursor: pointer;
}

.profile{
  position: relative;
}

.profile > h1{
  border: 2px solid black;
  padding: 2px 10px;
  border-radius: 22px;
  font-size: 1.5rem;
}

.profile:hover{
  cursor: pointer;
  .profile-items{
    display: block;
  }
}

.profile-items{
  position: absolute;
  display: none;
  background-color: #999999;
  top: 38px;
  right: 0px;
  padding: 5px;
  
}

.profile-items > h3{
  background-color: beige;
  padding: 2px 8px;
  margin-bottom: 2px;
  font-size: 1.3rem;
}

.profile-items > h3:hover{
  background-color: rgb(219, 219, 197);
}


@media (max-width:500px) {
  .navbar ul{
    display: none;
  }
  .navbar-right{
    gap: 10px;
  }
}